<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:align="center">
		<h1>게시글쓰기</h1>
		<form th:action="insertBoard" method="post">
			<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
				
				<tr>
					<td bgcolor="green" th:text="제목" width="80"></td>
					<td><input type="text" name="title" size="50"/></td>
				</tr>
				<tr>
					<td bgcolor="green" th:text="작성자" width="80"></td>
					<td><input type="text" name="writer" size="50"/></td>
				</tr>
				<tr>
					<td bgcolor="green" th:text="내용" width="80"></td>
					<td><textarea name="content" cols="50" rows="10"></textarea></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="submit" value="게시글등록하기" />
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>